<?xml version="1.0" encoding="UTF-8"?>
<included>

    <contextName>dcv</contextName>
    <property name="LOGGING_FOLDER" value="var/log"/>

<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <target>System.out</target>-->
<!--        <encoder>-->
<!--            <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%.10thread] %logger{35} - %msg%xEx{6}%n</Pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>TRACE</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>NEUTRAL</onMismatch>-->
<!--        </filter>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>DEBUG</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>NEUTRAL</onMismatch>-->
<!--        </filter>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>INFO</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>NEUTRAL</onMismatch>-->
<!--        </filter>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>WARN</level>-->
<!--            <onMatch>DENY</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--    </appender>-->

    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} corrId:%X{corrId} %-5level [%.10thread] %logger{25} - %msg%xEx{6}%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGGING_FOLDER}/dcv.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOGGING_FOLDER}/dcv.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 32 days' worth of history capped at 3GB total size -->
            <maxHistory>32</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>

        </rollingPolicy>
        <encoder>
<!--            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} corrId:%X{corrId} %-5level [%.10thread] %logger{25} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.dcv" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDERR"/>
    </root>
</included>
